*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 
.app-container{ 
    font-family: 'monserrat', sans-serif;
    background: url('./Img/sunny-bg-min.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 450px;
    height: auto;
    overflow: hidden;
}


.app-wrap{
    display: flex;
    flex-direction: column; 
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.6));
    position: relative;
}

.saved-places{
    position: absolute;
    top: 15px;
    right:0px; 
    z-index: 10;
}

.place{
    position: relative;
    right:-135px;
    width: 160px;
    background: rgba(255,255,255,0.4);
    padding: 10px 10px 10px 25px;
    border-radius: 15px 0 0 15px;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
    margin: 10px 0;
}

.place:hover{
    right: 0px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px 
}

header input{
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.4);
    border-radius: 10px;
    border-bottom: 3px solid #DF8e00;

    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus{ 
    background: rgba(255, 255, 255, 0.9);
}

main{
    flex: 1 1 100%;
    padding: 25px 25px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city{
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date{
    color: #FFF;
    font-size: 16px;
}

.current .temp{
    color: #FFF;
    font-size: 88px;
    font-weight: 900;
    margin: 0;
    text-shadow: 2px 10px rgba(0,0,0,0.65);
}
.current .temp span{ 
    font-weight: 500; 
}

.current .weather{
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 3px 3px rgba(0,0,0,0.4);
}
.current .hi-low{
    color: #FFF;
    font-size: 24px;
    font-weight: 500; 
    margin-bottom: 15px;
    text-shadow: 0px 4px rgba(0,0,0,0.4);
}

.current .weather-icon-container{
    width: 100px;
    margin: 0 auto;
}

.current .weather-icon{
    width: 100px;
}

.icon{
    font-size: 15px;
    display: flex;
    width: auto;  
    cursor: pointer;
    z-index: 100;
}

.forecast{
    width: 100%;
    min-height: 120px;
    height: auto;
    overflow-y: visible;
    overflow-x: scroll;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.forecast .fc-day{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.fc-day .day-name{ 
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
    text-shadow: 0px 4px rgb(0 0 0 / 40%);
}

.fc-day .temp {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    text-shadow: 0px 4px rgb(0 0 0 / 40%);
}
.fc-day .temp span{
    font-weight: 600; 
}