* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --primary-color: #f0f0f0;
    --secondary-color: #333;
    --accent-color: #ff5722;
    --text-color: #fff;
    --gap: 0.5rem;
    --font-family: 'Montserrat', sans-serif;
}

.app-container{ 
    font-family: 'monserrat', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    background: url('./Img/sunny-bg-min.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 450px;
    height: 800px;
    overflow: hidden;
    color: white;
    font-weight: 400;;
}

.app-wrap{
    display: flex;
    flex-direction: column; 
    height: 100%;
    position: relative;
    padding: 2rem 3rem;
}

.location-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
}

.location-title__name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: var(--gap);
}

.location-title__pin {
    width: 1rem;
    height: 1rem;
}

.location-title__dropdown{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.current-weather__main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

.corrent-weather__temp {
    font-size: 10rem;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    line-height: 1;
}

.corrent-weather__temp span {
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.25rem;
    line-height: 2;
}

.current-weather__description {
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: calc(var(--gap) / 2);
    margin-bottom: 1.5rem;
}

.weather-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10rem;
    height: 10rem;
}

.weather-icon {
    width: 100%;
    height: 100%;
}

.current-weather__details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.current-weather__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 8rem;
    text-align: center;
    gap: 0.5rem;
}